       .hello{
            width:5%;
            height:30%;
            border: 1px solid black;
        }
        .world{
            width:auto;
            height:30%;
            border: 1px solid black;
        }
        .rahul{
            width:auto;
            height:30%;
            border: 1px solid black;
        }
        .first{
            width:30%;
            height:30%;
            border: 1px solid black;
        }
        .second{
            width:30%;
            height:30%;
            border: 1px solid black;
        }
        .third{
            width:30%;
            height:30%;
            border: 1px solid black;
        }
        .test{
            width:90vw;
            height:20vh;
            border: 2px solid black;
        }
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 10px;
}

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: 12vh;
}
.content-sidebar {
        width: 300px;
        border: 1px solid #ccc; /* Added so you can see the limit */
        padding: 10px;
    }